*{
    margin: 0px;
    
}
.folder{
    height: 250px;
    background-color:#ece8e8;
}
.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.frames{
    margin-left: 480px;
}

.frames img{
    margin-right: 60px;
}
.folder li{
    list-style-type: none;
}
.final{
    margin-left: 50px;
    padding-top: 50px;
    margin-top: 50px;
    align-items: center;
}
.icones{
    margin-top: 30px;
}