@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    
}
.grid{
    display: grid;
    grid-template-columns:100vh 100vh;
    align-items: center
}
.grid h2{
    text-decoration: underline;
}
.primeiro h1{
    font-size: 60px;
    max-width: 370px;
    margin-bottom: 80px;
}
.primeiro h2{
    margin-top: -20px;
}
.format a{
    color: #7D7987;
    margin-top: 80px;
    margin-bottom: 30px;
}
.format h1{
    margin-bottom: 30px;
}
.img{
    width:687px ;
    height: 654px;
}
.selected{
    display: grid;
    grid-template-columns:1fr 1fr;
}
.selected select{
    border-radius: 16px;
    width: 220px;
    height: 52px;
    margin-top: 30px;
    list-style: none;
    background-color: white;
}
.button {
    margin-top: 30px;
    width: 180px;
    height: 52px;
    border-radius: 16px;
    background-color: #FB8F1D;
    color: white;
}
.fora{
    position: relative;
}
.p{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 120px;
    height: 56px;
    border-radius: 13px;
}
.p h1{
    margin-top: -2px;
}
.p p{
    margin-top: -25px;
}
.imagens{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.imagens img{
    
    border-radius: 16px;

}
.primeiro {
    margin-left: 80px;
    margin-top: 60px;
    
}
.marin{
    margin-top: 100px;
}
.segundo, .paises {
    margin-left: 50px;
}
.format {
    margin-left: 200px;
}
.version{
    margin-left: 50px;
}
.version2 img{
    max-width: 600px;
}
.testemunhas{
    margin-left: 50px;
}
.segundo button{
    font-size: 500;

}
.paises h1{
    font-size: 18px;
    margin-top: 5px;
    font-weight: bolder;
    margin-left: 5px;
}
.paises p{
    margin-top: 5px;
    margin-left: 5px;
}
.view {
    display: flex;
}
.view h1{
    margin-bottom: 10px;
}
.view a{
    color: #FB8F1D;
    text-decoration: none;
    font-size: 15px;
    margin-left: 971px;
}
.guias{
    max-width: 420px;
    margin-left: 150px;
}
.guias h1{
    margin-bottom: 30px;
}
.guias p {
    color: #7D7987;
}
.estrelas{
    margin-top: 80px;
}
.estrelas h1{
    margin-top: -280px;
    margin-bottom: 60px;
}
.imagens{
    max-height: 500px ;
}
.ap{
    margin-top: 60px;
    max-width: 330px;
}
.ap h2{
    margin-top: 30px;
    text-decoration: none;
}
.ap p{
    margin-top: 25px;
}