.gridd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
.flex{
    display: flex;
    margin-bottom: 30px;
}
.flex a{
    color: #FB8F1D;
    text-decoration: none;
    font-size: 15px;
    margin-left: 911px;
}
text2{
    background-color: red;
    margin-right: 500px;
}
.gridd img{
    width: 263px;
    height: 316px;
    border-radius: 16px;
}
.texto h1  {
 position: flex;
 flex: 1;
}
.finall{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.text2 h1{
    font-size: 20px;
    max-width: 280px;
}
.text2  p{
    max-width: 280px;
}
.gridd a {
    color: #FB8F1D;
    text-decoration: none;
    font-size: 20px;
}
.gridd h1{
    color: black;
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.gridd p{
    color: #7D7987;
    margin-bottom: 10px;
}